.App {
  text-align: center;
}

.home {
  height: 500px;
  color: aliceblue;
}

#about {
  height: 400px;

}

#portfolio {
  height: 400px;
  background-color: rgb(82,45,128);
}

#contact {
  height: 400px
}

.background {
  background-color: rgb(82,45,128);
  background-image: url(/public/images/orange.png);
  background-size: auto;
  background-repeat:no-repeat; 

}

.nav {
display: flex;
height: 6%;
margin-bottom: 0px;
background-color: white;
position: sticky; 
top: 0;
width: 100%;
}

li {
  list-style: none;
  

}

.no {
  text-decoration: none;
  color: aliceblue;
}

.homeText{
  text-align: center;
  
}

.btn{

}